{% extends 'base.html.twig' %}

{% block title %}New WorkoutExercice{% endblock %}

{% block body %}
    <h1>Create new WorkoutExercice</h1>

    {{ include('workout_exercice/_form.html.twig') }}

    <a href="{{ path('app_workout_exercice_index') }}">back to list</a>
{% endblock %}
